# Python 소개

[Python](https://www.python.org/)은 범용 프로그래밍 언어로 1989 년에 처음으로 소개되었으며 오픈소스이며 무료이다. [Python Software Foundation을](https://www.python.org/psf/) 통해 계속 발전되었습니다.

## Python을 계산기로 사용하기

### 연산

Python을 이용한 통계 분석을 배우려면 R 언어, Julia 언어와 같이 Python을 고급 계산기처럼 사용하는 기능을 배우는 것이 좋다.

다음과 같이 사칙연산이 가능하다.

In [1]:
1+2
100-50
3*4
5/2

2.5

In [2]:
4.5**2

20.25

특별한 연산자도 있다. 연산자 `//`는 몫(floor division)을, 연산자 `%`는 나머지(remainder)를 계산해준다.

In [3]:
13 // 2

6

In [4]:
13 % 2

1

기본적인 수학 함수를 이용할 수 있다.  이를 위하여 math module을  import 해야한다.

In [5]:
import math
a = math.sin(2*math.pi)
a

-2.4492935982947064e-16

### 비교연산자와 논리연산자

In [6]:
1 > 2

False

In [7]:
1 <= 3

True

In [8]:
2 == 2.0

True

In [9]:
3 != 3

False

논리연산자는 `and`, `or`, `not`이 있다

In [10]:
1 < 3 and 2 >= 1

True

In [11]:
not 3 == 3

False

## 변수

Python에서 다른 보통의 언어와 마찬가지로 변수(variable)을 연산자 `=`을 사용하여 선언할 수 있다.

- 변수명는 문자(A-Z/a-z)와  an underscore(_)으로 시작한다.
- 변수명운 문자(A-Z/a-z), an underscore(_), 숫자의 조합으로 구성된다.
- 변수명은 소문자와 대문자를 구별한다.

In [12]:
a=100

In [13]:
_name = '이용희'

In [14]:
c, d = 100, 3.5

In [15]:
c+d

103.5

In [16]:
i=j=10

In [17]:
i+j

20

## 문자열

Python의 문자열(string,`str`)은 문자(character)의 열(sequence)이다. 문자열의 정의는 `' '`와 `" "`로 모두 정의할 수 있다.
아래의 함수 `type`은 주어진 인자의 형식(type)을 보여준다

In [18]:
type('이용희')

str

In [19]:
type("이용희")

str

### 문자열의 연산

Python은 문자열들을 여러 가지 연산자로 이용하여 조합할 수 있다

In [20]:
"나는" " 이용희"  # "나는" + " 이용희" 와 동일한 기능

'나는 이용희'

In [21]:
a="I am"+" 이용희"
a

'I am 이용희'

In [22]:
print(a)

I am 이용희

In [23]:
t1 = " 이철수"
"나는"+t1

'나는 이철수'

In [24]:
3*'아이고 '

'아이고 아이고 아이고 '

`("\")` 뒤에 나오는 문자가 특수 문자로 취급되게 하고 싶지 않다면, 첫 따옴표 앞에 `("r")` 을 붙여서 *원시 문자열 (raw string)* 을 만들 수 있습니다.

In [25]:
print(r'C:\some\name')

C:\some\name

문자열의 일부분을 `[start:end]`로 추출할 수 있으며 start index 는 0 부터 시작한다.  
R과 매우 다른 점은 index에서 start:end 이면 start 는 포함되고 end는 포함되지 않는다.

또한 index 는 음수도 가능하면 가장 마자막 문자가 -1부터 시작하고 반대 방향으로 -1 만큼씩 줄어든다.

In [26]:
mt = 'abc'
mt[0]

'a'

In [27]:
mt[0:2]

'ab'

In [28]:
mt[-1]

'c'

In [29]:
mt[-2]

'b'

In [30]:
mt[-3:-1]

'ab'

문자열의 일부분을 지정연산자로 바꿀 수는 없다.

```
mt[1] = 'f'
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-31-44aa63810784> in <module>
----> 1 mt[1] = 'f'

TypeError: 'str' object does not support item assignment
```

문자열은 두 개 이상의 라인으로도 확장해서 정의할 수 있다. 방법은 세 개의 인용부호 `"""..."""` 또는 `'''...'''` 를 사용하는 것이다.

In [31]:
mytext = """우리 집에 있는 물건들의 이름은 다음과 같다.
냉장고 세탁기 청소기
침대 의자 책상
멍멍이 고양이"""

In [32]:
mytext

'우리 집에 있는 물건들의 이름은 다음과 같다.\n냉장고 세탁기 청소기\n침대 의자 책상\n멍멍이 고양이'

In [33]:
type(mytext)

str

In [34]:
print(mytext)

우리 집에 있는 물건들의 이름은 다음과 같다.
냉장고 세탁기 청소기
침대 의자 책상
멍멍이 고양이

## 튜플

튜플(tuple)은 함수의 인자(argument in function) 형식을 일반화한 자료 형식이다.

수학에서 다음과 같이 a,b,c,d 가 함수의 인자로 인식되는데 이러한 인자의 구조를 나타낸 형식이다.

$$ f(a,b,c,d) = a + b + cd $$

보통 괄호와 컴마를 사용하여 정의한다.

In [35]:
x = ('a', 'b')  # Parentheses instead of the square brackets
x = 'a', 'b'    # Or no brackets --- the meaning is identical
x

('a', 'b')

In [36]:
type(x)

tuple

In [37]:
x[0]

'a'

튜플은 여러 가지 다른 형식의 자료들을 동시에 포함할 수 있다.

In [38]:
y = 1, 'a', 12.1
y

(1, 'a', 12.1)

튜플도 문자열처럼 일부를 지정하여 바꿀 수 없다.

```
x[0] = 1
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-40-04a2900a8706> in <module>
----> 1 x[0] = 1

TypeError: 'tuple' object does not support item assignment
```

## 리스트

python 자체는 R, C 등과 같은 언어와 다르게 배열(Array) 형식이 없다. 배열 형식을 사용하려면 Numpy와 같은 패키지를 사용해야 한다.

python 자체는 리스트(list)라는 자료의 형식을 제공하며 이는 R의 리스트와 동일하게 여러 가지 자료를 묶어 놓은 형식이다.

In [39]:
mylist = [1, 2, 3, 4, 5]
mylist

[1, 2, 3, 4, 5]

In [40]:
mylist[0]

1

In [41]:
mylist[0:3]

[1, 2, 3]

In [42]:
mylist[0::2]  # this is start=0 to the end with increment 2 -> 0,2,4

[1, 3, 5]

In [43]:
anylist = [1,'a', 3.2, 'abc']
anylist

[1, 'a', 3.2, 'abc']

In [44]:
alllist = [mylist, anylist]
alllist

[[1, 2, 3, 4, 5], [1, 'a', 3.2, 'abc']]

In [45]:
alllist[0]

[1, 2, 3, 4, 5]

In [46]:
alllist[0][2]

3

리스트는 튜플과 다르게 일부의 값을 바꿀 수 있다.

In [47]:
mylist[0] = 10
mylist

[10, 2, 3, 4, 5]

리스트에 값을 첨가할 수도 있고 제거할 수도 있다.

In [48]:
mylist.append(100)
mylist.append(200)
mylist

[10, 2, 3, 4, 5, 100, 200]

In [49]:
mylist[2:5] = ['A','B','C']
mylist

[10, 2, 'A', 'B', 'C', 100, 200]

In [50]:
mylist[5:7]=[]
mylist

[10, 2, 'A', 'B', 'C']

### 리스트를 생성하는 방법

리스트를 루프 또는 이터러블 정의하는 방법은 아래외 같다.

In [51]:
s2 = []
for x in range(10):
    s2.append(x**2)
s2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [52]:
s21 = list(map(lambda x: x**2, range(10)))
s21

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [53]:
s22 = [x**2 for x in range(10)]
s22

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### 리스트의 method

리스트로 정의된 변수는 여러 가지 작업을 method 형태로 수행할 수 있다. method 는 변수되에 마침표를 붙이고 원하는
method를 함수의 형태로 붙이면 된다.

예를 들어 하나의 리스트 끝에 원소를 붙이려면 `append` method 를 다음과 같이 사용할 수 있다.

In [54]:
mylist = [1, 2, 3, 4, 5]
mylist.append(100)
mylist

[1, 2, 3, 4, 5, 100]

In [55]:
mylist.insert(3,-100) # 3번째 위치 다음에 -100을 넣는다.
mylist

[1, 2, 3, -100, 4, 5, 100]

In [56]:
mylist.remove(100) # 100을 제거
mylist

[1, 2, 3, -100, 4, 5]

In [57]:
mylist.pop(0) #0번째 위치의 원소를 제거
mylist

[2, 3, -100, 4, 5]

In [58]:
mylist.sort() # 정렬하기
mylist

[-100, 2, 3, 4, 5]

In [59]:
del mylist[0] # 리스트에서 주어진 위치의 값을 지우기
mylist

[2, 3, 4, 5]

다음의 method들은 리스트에 적용되는 것들이다. 

- `list.append(x)` : 리스트의 끝에 `x`를 붙여준다.  `a[len(a):] = [x]`과 같은 효과를 낸다.
- `list.extend(iterable)`: 리스트에 이터러블을 붙여준다. `a[len(a):] = iterable` 와 같은 효과를 낸다.
- `list.clear()` : 리스트의 모든 원소를 제거한다.
- `list.index(x[, start[, end]])`: `x`의 값이 처름으로 나오는 위치를 알려준다.
- `list.count(x)`:`x`의 값이 나오는 횟수를 알려준다.
- `list.reverse()`: 라스트의 순서를 반대로 배열해준다.
- `list.copy()` : 리스트의 얇은 복사(shallow copy)를 해준다.

### 리스트에 대한 함수

In [60]:
len(mylist)

4

In [61]:
sum(mylist)

14

In [62]:
max(mylist)

5

## 자료의 형식

python은 여러 가지 자료의 형식(data type) 이 있다. 자료의 형식은 `type`함수로 알 수 있다.

In [63]:
type(100)

int

In [64]:
type(math.pi)

float

In [65]:
type(x)

int

In [66]:
type(mylist)

list

함수 `isinstance(var,type)`은 변수 또는 자료 `var` 이 `type` 형식인지 확인해 준다.

In [67]:
a=100
isinstance(a,int)

True

In [68]:
isinstance(a,float)

False

### 형식의 변환

In [69]:
a = 3.124
int(a)

3

In [70]:
float(110)

110.0

In [71]:
int('123')

123

In [72]:
str(123)

'123'

In [73]:
list('123')

['1', '2', '3']

In [74]:
tuple('abc')

('a', 'b', 'c')

In [75]:
str(tuple('abc'))

"('a', 'b', 'c')"

## 사전

Python에서 사전(dictionary)는 다른 범용언어와 유사하게 이름이 있는 리스트와 같다.

In [76]:
d = dict(a=1, c=10, t=3, z=-2)

In [77]:
d

{'a': 1, 'c': 10, 't': 3, 'z': -2}

In [78]:
d2 = {'A':'John', 'B':'Smith', 'C':'Mary'}  ## another way to define dictionary

In [79]:
d2

{'A': 'John', 'B': 'Smith', 'C': 'Mary'}

In [80]:
type(d)

dict

In [81]:
d['a']

1

In [82]:
d.keys()

dict_keys(['a', 'c', 't', 'z'])

In [83]:
list(d.keys())

['a', 'c', 't', 'z']

In [84]:
d.values()

dict_values([1, 10, 3, -2])

In [85]:
list(d.values())

[1, 10, 3, -2]

In [86]:
d['a'] = 10
d

{'a': 10, 'c': 10, 't': 3, 'z': -2}

In [87]:
for k in d:
    print(k,d[k])

a 10
c 10
t 3
z -2

In [88]:
for k,v in d.items():
    print(k,v)

a 10
c 10
t 3
z -2

##  제어문

### for loop

for loop 는 다음과 같이 반복하여 작업을 수행하며 `range`함수를 이용하면 iterable 객체를 생성할 수 있다.

iterable 객체는 객체안의 원소들을 순서대로 뽑아낼 수 있는 것을 말한다.

In [89]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [90]:
for i in range(1,10,2):  # 증가분이 1이 아닌 2로 지정 
    print(i)

1
3
5
7
9

In [91]:
myiter = [1, 2, 3, 4]
for i  in myiter:
    print(i)

1
2
3
4

두 개의 다른 iterable에서 서로 대응하는 원소를 묶어서 iterable을 만들어 주는 함수가 `zip` 이다.

In [92]:
for i in zip([1,2,3],['a','b','c']):
        print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [93]:
for i,j in zip([1,2,3],['a','b','c']):
        print(i,j)

1 a
2 b
3 c

함수 `enumerate`는 iterable의 원소들을 그 순서를 함께 생성해 준다.

In [94]:
for i,j in enumerate(range(1,10)):
    print(i,j)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

### while

In [95]:
a=0
while(a < 5):
    print(a)
    a+=1

0
1
2
3
4

### if else

In [96]:
age=52
if age > 50:
  print('old')
elif age < 50:
  print('young')
else:
  print('???')

old

## 함수

Python에서 함수(function)은 `def` 문으로 정의되고 함수의 이름과 인자를 정의한 다음 `:`으로 정의를 끝내준다. 함수의 결과를 출력할 경우 `return`문을 사용한다.

```
def  funcname(a,b,c):
    .... function body
    return result
```

In [97]:
def  addtwo(a,b):
    return a+b

In [98]:
addtwo(1, 2)

3

In [99]:
addtwo(1, math.pi)

4.141592653589793

In [100]:
addtwo('a', 'b')

'ab'

### local 변수와 scope

In [101]:
x=1
def bar():
  x=2  # it is local variable
  print(x)

bar()
x

2

1

In [102]:
x=1
y=2

def f():
  x=2          # new local x 
  def g():
    x=11      # another new local x is defined  
              # so new x=11 but parent x is still 2
    return x+y # y = 2 is global and return 11+2 (x+y)
  return g()+x # # g()= 13 and x= 2 so return 15

f()

15

### keyword  인자

Keyword  인자는 함수의 인자를 정의할 때 default 값을 지정해주고 함수를 부를 때 그 인자를 지정하지 않으면 default 값이 자동적으로 사용된다.

In [103]:
def f1(a, b=1, c=2):
    return a+b+c

In [104]:
f1(1)

4

In [105]:
f1(1,3) # b=3

6

In [106]:
f1(1,c=10)

12

### lambda 함수 (anonymous 함수)

In [107]:
f = lambda x: x**3

In [108]:
f(10)

1000

lambda 함수는 결과값을 함수로 주는 경우 유용하게 사용된다.

In [109]:
def make_incrementor(n):
    return lambda x: x + n

In [110]:
f100 = make_incrementor(100)
f100(3)

103

In [111]:
f200 = make_incrementor(200)
f200(3)

203

## 객체

python에서 객체(object)는 다른 객체지향언어에서 사용되는 개념과 동일하다. 

각 객체는 정의되는 동시에 고유한 Identity를 가지며 함수`id`로 그 고유한 id 를 볼 수 있다.

In [112]:
x=100
id(x)

4478842304

In [113]:
x=3.2
id(x)

140554281328688

객체의 속성(attribute)과 그 변환은 각 객체의 형식에 따른  method를 이용한다.

In [114]:
x.imag

0.0

In [115]:
x.real

3.2

In [116]:
x.__class__

float

In [117]:
x = ['a', 'b']
x.__setitem__(0, 'aa')  # Equivalent to x[0] = 'aa'
x

['aa', 'b']

### 사용자 정의 객체

객체는 위에서 본 것과 같이 python 언어에 의하여 정의된 int, float, tuple, list 등이 있지만 사용자가 정의할 수 있다.

사용자가 정의하는 객체는 `class`문을 사용하며 정의한다.

다음은 은행의 고객을 객체형식으로 정의한 문장이다. 은행의 고객은 자금을 은행에 저금할 수 있고(deposit) 인출할 수 있다(withdraw). 또한 저금한 총 금액보다 더 많은 예금은 인출할 수 없다.

이러한 개념을  구현할 수 있는 객체 `Customer`를 아래와 같이 구현할 수 있다.

나오는 두 예제는 [코드 출처](https://lectures.quantecon.org/py/python_oop.html#Defining-Your-Own-Classes)에 있는 코드를 변환한 것이다.

In [118]:
class Customer:

    def __init__(self, w):
        "새로운 고객이 w 원으로 구죄를 만든다"
        self.wealth = w

    def deposit(self, y):
        "고객이 y 원을 예금한다"
        self.wealth += y

    def withdraw(self, x):
        "고객이 x 원을 인출하는데 자금보다 많으면 인출이 안된다."
        new_wealth = self.wealth - x
        if new_wealth < 0:
            print("예금이 부족합니다.")
        else:
            self.wealth = new_wealth

이제 용희란 사람을 Customer로 정의하고 (초기 예금 100원) 여러 가지 method를 적용해 보자.

In [119]:
용희 = Customer(100)

In [120]:
용희.wealth

100

In [121]:
용희.deposit(200)

In [122]:
용희.wealth

300

In [123]:
용희.withdraw(150)

In [124]:
용희.wealth

150

In [125]:
용희.withdraw(200)

예금이 부족합니다.

In [126]:
type(용희)

__main__.Customer

아래에서는 `Polynomial` 즉 다항식에 대한 객체를 정의하고 여러 가지 연산들을 method로 구현한것이다.

$$ f(x) = a_0 + a_1 x + a_2 x^2 + ... + a_n x^n $$

다항식 객체 `Polynomial` 은 계수들로 정의된다. [코드 출처](https://lectures.quantecon.org/py/python_oop.html#Defining-Your-Own-Classes)

In [127]:
class Polynomial:

    def __init__(self, coefficients):
        """
        Creates an instance of the Polynomial class representing

            p(x) = a_0 x^0 + ... + a_n x^n,

        where a_i = coefficients[i].
        """
        self.coefficients = coefficients

    def __call__(self, x):
        "Evaluate the polynomial at x."
        y = 0
        for i, a in enumerate(self.coefficients):
            y += a * x**i
        return y
      
    def __len__(self):
        "return the degree of polynomial"
        return len(self.coefficients)-1 
    
    def differentiate(self):
        "Reset self.coefficients to those of p' instead of p."
        new_coefficients = []
        for i, a in enumerate(self.coefficients):
            new_coefficients.append(i * a)
        # Remove the first element, which is zero
        del new_coefficients[0]
        # And reset coefficients data to new values
        self.coefficients = new_coefficients
        return new_coefficients

In [128]:
mypoly4 = Polynomial([1,2,3,4])

In [129]:
mypoly4

In [130]:
mypoly4.coefficients

[1, 2, 3, 4]

In [131]:
mypoly4(1)

10

In [132]:
mypoly4(2)

49

In [133]:
mypoly4.differentiate()

[2, 6, 12]

In [134]:
mypoly4.coefficients

[2, 6, 12]

In [135]:
mypoly4(1)

20